.git
.gitignore
node_modules
stockmonsters-reskin
web/**
!web/game
!web/game/**
**/Saves
**/Release
**/.tiledmcp
**/*.log
.DS_Store
Stockmonsters/Game.exe
Stockmonsters/Gamew.exe
Stockmonsters/RGSS104E.dll
Stockmonsters/extendtext.exe
Stockmonsters/*.bat
Stockmonsters/Data/Tiled
